:root {
    --primary-color: #b5e853;
    --background-color: #202020;
    --text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1),
      0 0 10px rgba(181, 232, 83, 0.1);
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 12px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #151515;
  }
  
  p {
    font-size: 28px;
  }
  
  a {
    color: #63c0f5;
  }
  
  .main {
    width: 100%;
    padding: 48px;
    height: 90vh;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--background-color);
    padding: 6px 18px;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .header-logo {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  
  .header-title {
    color: var(--primary-color);
    text-shadow: var(--text-shadow);
  }
  
  .header-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
  }
  
  .header-action {
    width: 21px;
    height: 21px;
    border-radius: 100%;
    margin-right: 12px;
    cursor: pointer;
  }
  
  .header-action:last-child {
    margin: 0;
  }
  
  .header-action-minimize {
    background: #fabd36;
  }
  
  .header-action-maximize {
    background: #6ccd43;
  }
  
  .header-action-close {
    background: #ee5e54;
  }
  
  .section {
    width: 100%;
    background: var(--background-color);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 100%;
    overflow: auto;
  }
  
  .section-line {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 18px;
  }
  
  .section-directory {
    color: var(--primary-color);
  }
  
  .section-mark-command {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid #e6e6e6;
  }
  
  .section-command {
    padding-bottom: 2px;
    margin-left: 12px;
    color: #e6e6e6;
  }
  
  .json {
    color: #e6e6e6;
    padding-left: 8px;
  }
  